---
const { imageSrc, title, description, technologies, projectLink, codeLink } = Astro.props.project
import { type Technologies } from './projectsData'
---

<div class='relative w-full max-w-[500px] rounded-3xl pb-8'>
  <img class='w-full sm:h-[320px] rounded-3xl object-contain sm:object-cover' src={imageSrc} alt={`${title} foto`}>
  <div class='bg-bckgDark min-[860px]:h-[400px] flex flex-col gap-8 px-6 -mt-10 pt-16 max-[860px]:pb-6 border-2 border-primary rounded-3xl'>
  <h3 class='font-semibold text-3xl'>{title}</h3>
  <p class='h-full min-[860px]:h-[100px] text-base sm:text-lg'>{description}</p>
    <div class='relative flex gap-2 overflow-x-auto py-2 custom-scroll select-none'>
      {
        technologies.map((technology: Technologies) => (
          <span class='h-fit border-[1px] border-primary text-white hover:text-primary transition-colors duration-300 ease-out whitespace-nowrap rounded-full px-4 py-1 text-sm'>{technology}</span>
        ))
      }
    </div>
    <div class='flex flex-wrap gap-y-4 gap-8'>
      {
        projectLink &&
        <a href={projectLink} target='_blank' class='flex gap-2 text-primary hover:underline'>
          Ver proyecto
          <img src="/icons/external-link-icon.svg" alt="link externo icono">
        </a>
      }
      <a href={codeLink} target='_blank' class='flex gap-2 text-primary hover:underline'>
        Ver repositorio
        <img src="/icons/external-link-icon.svg" alt="link externo icono">
      </a>
    </div>
  </div>
</div>


<style>
  .custom-scroll::-webkit-scrollbar {
    display: none
  }
  .custom-scroll::-webkit-scrollbar-thumb {
    display: none
  }
</style>
